@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


.body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 3557px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
}

.page-header {
  color: #242424;
  background-color: #FFFFFF;
}

.page-header-logo {
  width: 140px;
  margin-right: 100px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-list .navigation-user {
  min-width: 20px;
  min-height: 20px;
  width: 88px;
  height: 64px;
  margin-left: 285px;
  margin-right: 20px;
}

.navigation-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.main-container {
  flex-grow: 1;
  padding-top: 66px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../image/logo-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo-hero {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.heading-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
  gap: 25px;
  background: #FFFFFF;
  width: 1200px;
  height: 261px;
}

.text-1 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  width: 620px;
  height: 72px;
  margin-top: 69px;
  margin-left: 290px;
  margin-right: 290px;

}

.comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 651px;
  height: 26px;
  margin-top: 25px;
  margin-left: 275px;
  margin-right: 275px;
  margin-bottom: 69px;

}

.advantag-one {
display: flex;
}

.advantages-title-1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-advantages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.advantag {
  background-color: #82B3D3;
}


.advantages-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.advantages-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 277px;
  padding: 0 40px;
}

.quality-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  width: 1200px;
  height: 246px;
}

.text-2 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  width: 505px;
  height: 72px;
  margin-top: 64px;
  margin-left: 360px;
  margin-right: 360px;
}

.quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 490px;
  height: 26px;
  margin-top: 20px;
  margin-left: 367px;
  margin-bottom: 64px;
  margin-right: 367px;
}

.features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 1200px;
  height: 385px;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}


.features-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
}

.housing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 81px 85px 81px 85px;
}

.meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 81px 85px 81px 85px;
}

.souvenirs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 81px 85px 81px 85px
}

.interested {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 304px;
  gap: 10px;
  width: 1200px;
  height: 406px;
}

.text-3 {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 297px;
  height: 36px;
}

.interested-paragraph {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  height: 52px;
  margin-top: 20px;
}

.interested-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 592px;
  height: 108px;
}

.button-all {
  width: 376px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  margin-top: 54px;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../image/background-1.jpg);
  width: 1200px;
  height: 415px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}



.text-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  gap: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 96px;
  margin-left: 258px;
  margin-right: 258px;
}

.subscript {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 404px;
  height: 36.35px;

}

.subscription-paragraph {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

.button-right {
  line-height: 36px;
  margin-bottom: 104px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}


.page-footer {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  height: 120px;

}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
  margin-right: 236px;
}

.footer-social-item {
  width: 48px;
  height: 40px;

}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-phon {
  display: block;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.logo-footer {
  margin-left: 236px;
}


.body-catalog {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 2239px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
}

.main-inner-catalog {
  background-image: url(../image/background-2.jpg);
  width: 1200;
  height: 412;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 35px 635px 8px 70px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  list-style: none;
}

.breadcrumbs-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 10px;
}

.breadcrumbs-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 167px;
  width: 1087px;
  height: 160px;



}

.catalog-filter-item {

  list-style: none;
}

.catalog-filter {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  gap: 16px;
}

.product-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card-title {
  margin-top: 16px;
}


.range-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  margin: 40px 70px 70px 140px;
  gap: 70px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 192px;
}

.found {
  display: flex;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 70px;
  color: #000000;
  background-color: #FFFFFF;
  width: 338px;
  height: 36px;
}

.select-control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 18px;
  line-height: 21px;
  padding: 0px;
  margin: 50px 70px 40px 200px;
  gap: 70px;
  color: #333333;
}

.control-cards .button {
  width: 48px;
  height: 48px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
}

.product-card-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-filter-infrastructure {}

.subtitle {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.button-card {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
}

.button-card-blue {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.button-card-green {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
}

.text-5 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 96px 304px;
}

.button-on {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 12px;
  font-weight: 700;
  color: #ffffff;
  background: #82B3D3;
  text-decoration: none;
}

.subscription-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 104px;
  gap: 10px;
  width: 1200px;
  height: 414.86px;
  background: #FFFFFF;
}

.page-footer-catalog {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  height: 120px;
}


.contacts-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list-2 {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
}

.footer-phone {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: 236px;
  margin-right: 236px;
}

.logo-footer-catalog {
  margin-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
